body {
    background-color: #eff0f4;
}
.chat {
    width: 60%;
    height: 600px;
    background-color: #f6f7f9;
    border-radius: 10px;
    padding: 0px;
    overflow: hidden;
    padding-top: 70px;
}
.left {
    width: 30%;
    float: left;
    background-color: white;
    border-right: 2px solid #f6f7f9;
    height: 100%;
    overflow: hidden;
}
.right{
    width: 70%;
    float: right;
    background-color: white;
    height: 100%;
}
.item {
    width: 100%;
    height: 150px;
    padding-top: 35px;
    padding-left: 38px;
}
.active {
    background-color: #f6f7f9;
}
.phone {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: pink;
    margin-right: 20px;
}
.txt {
    padding-top: 10px;
}
.record-list {
    width: 100%;
    height: 60%;
}
.textarea {
    width: 100%;
    height: 40%;
    border-top: 2px solid #f6f7f9;
    padding: 4%;
}
textarea {
    border: none;
    width: 100%;
    height: 70%;
}
.btn {
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: pink;
    border-radius: 6px;
    margin-left: 300px;
}