extends header
block link
    link(href='/static/css/index.css',rel="stylesheet")
block content
    .container
        .page-header
            h1 聊天室
                small 穷人版
        .page-content
            .media
                .media-left
                    a
                        img.media-object
                .media-body
                    h4.media-heading 好友： 李世民
