<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>socket</title>
    <script src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js"></script>
</head>
<body>

</body>
<script>
    var socket = io.connect('http://localhost');
    socket.on('news', (data) => { // emit 是发送消息 on是接受消息
        alert(data)
        socket.emit('my other event', {my: 'data'})
    })
</script>
</html>